<p id="notice"><%= notice %></p>

<div id='search_form'>
<%= form_tag(search_path, :method=>'get') do %>
  <%= text_field_tag "query" %>
  <%= submit_tag 'Submit' %>
<% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th>Platform</th>
      <th>Classname</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jrs.each do |jr| %>
      <tr>
        <td><%= jr.name %></td>
        <td><%= jr.url %></td>
        <td><%= jr.description %></td>
        <td><%= jr.platform %></td>
        <td><%= jr.classname %></td>
        <td><%= jr.version %></td>
        <td><%= jr.sha %></td>
        <td><%= link_to 'Show', jr %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jr', new_jr_path %>
