<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @jr.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @jr.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jr.description %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @jr.platform %>
</p>

<p>
  <strong>Classname:</strong>
  <%= @jr.classname %>
</p>

<p>
  <strong>Version:</strong>
  <%= @jr.version %>
</p>

<%= link_to 'Edit', edit_jr_path(@jr) %> |
<%= link_to 'Back', jrs_path %>
