<script src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.0/showdown.min.js'></script>
<script>
$(function(){
  var converter = new showdown.Converter();
  var text = $(".readme").text();
  var html = converter.makeHtml(text);
  $(".generated").html(html);
});

</script>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @jr.name %>
</p>

<p>
  <strong>Original Url:</strong>
  <%= @jr.original_url %>
</p>

<p>
  <strong>Forked Url:</strong>
  <%= @jr.forked_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jr.description %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @jr.platform %>
</p>

<p>
  <strong>Classname:</strong>
  <%= @jr.classname %>
</p>

<p>
  <strong>Version:</strong>
  <%= @jr.version %>
</p>

<div class='readme'><%= @jr.readme %></div>
<div class='generated'></div>

<%= link_to 'Edit', edit_jr_path(@jr) %> |
<%= link_to 'Back', jrs_path %>
